@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Sans+Thai:wght@100..900&display=swap');
@import "tailwindcss";
.petal {
  position: absolute;
  top: -10vh;
  left: 0;
  pointer-events: none;
  background-image: url('/rose-petal.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: var(--op, 0.8);
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translate(0, var(--y-start)) rotate(var(--r0));
  }
  100% {
    transform: translate(80px, var(--y-end)) rotate(var(--r1));
  }
}


@keyframes glowSwitch {
  0% {
    text-shadow: 0 0 40px rgba(51, 2, 55, 0.9); /* ม่วง */
  }
  25% {
    text-shadow: 0 0 40px rgba(163, 57, 250, 0.9); /* เหลือง */
  }
  50% {
    text-shadow: 0 0 40px rgba(203, 139, 255, 0.9); /* เหลือง */
  }
  100% {
    text-shadow: 0 0 40px rgba(139, 15, 255, 0.9); /* กลับม่วง */
  }
}

.animate-glow {
  animation: glowSwitch 3s infinite ease-in-out;
}

@keyframes glowSwitchYellow {
  0% {
    box-shadow: 0 0 40px rgba(253, 255, 234, 0.9); /* ม่วง */
  }
  25% {
    box-shadow: 0 0 40px rgba(242, 255, 102, 0.9); /* เหลือง */
  }
  50% {
    box-shadow: 0 0 40px rgba(167, 13, 113, 0.9); /* เหลือง */
  }
  100% {
    box-shadow: 0 0 40px rgba(255, 129, 255, 0.9); /* กลับม่วง */
  }
}

.animate-glow-yellow {
  animation: glowSwitchYellow 3s infinite ease-in-out;
}